* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html,
.wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 980px;
}

.wrap canvas {
    margin: 0 auto;
    display: block;
}

.table {
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin: 0 auto;
    border-collapse: collapse;
}

.table thead {
    background: #eee;
}

.table tr {
    height: 40px;
}

.table tr span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 10px;
}

.table tbody tr:nth-of-type(even) {
    background: #eee;
}